{% extends 'base.html' %}
{% block content %}

<!-- 로그인 form  -->
<div class="container my-3">
    <div class="row">
        <div class="col-8 text-right">
            <span><a href="  {% url 'common:signup' %} ">계정을 만드시면 서비스를 이용하실수 있습니다</a></span>
        </div>
    </div>
    <form class="post-form my-3"  action=" {% url 'common:login' %} " method="POST">
        {% csrf_token %}
        {% include 'form.errors.html' %}
        
        <div class="form-group">
            <label for="username">아이디(ID)</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>

        <div class="form-group">
            <label for="password">비밀번호(PassWord)</label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>

        <button class="btn btn-primary" type="submit" >로그인</button>

    </form>

</div>
  
{% endblock  %}