{% extends 'base.html' %}
{% load static  %}
{% load filter  %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
  
<body>
{% block content %}
    <div class="container my-3">
        <table class="table">
            <thead>
                <tr class="thead-dark">
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성날짜</th>
                </tr>
            </thead>
            <tbody>
                {% if question_list %}
                {% for i in question_list  %}
            <tr>
                <!--  질문 일련번호  : {{ forloop.counter }}를 이용하여 표시했다.자동으로 매겨지는 순섯값을 의미한다. -->
                    <!-- 번호 = 전체게시물 - 시작인덱스 - 현재인덱스 +1 추가 -->
                <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
                <!-- <td> {{forloop.counter}}  현재 인덱스 </td>  -->
                <td>
                    <a  style="color: black; font-size: 15px; font-weight: bold;" href=" {% url 'pybo:detail' i.id  %} " >{{ i.subject }}</a>
                    
                        <!-- 답변이 있는 경우를 검사 시작 -->
                    {% if i.answer_set.count > 0 %}
                        <span class="text-danger small ml-2">{{ i.answer_set.count }} 개의 답변이 있습니다</span>
                    {% endif %}
                        <!-- 검사 종료 -->
                </td>
                <td>
                    {{i.create_date}}
                </td>
            </tr>
        {% endfor %}
        {% for message in messages %}
        <tr>
            <td colspan=3> {{ message }} </td>
        </tr>
        {% endfor %}   
             
    {% endif %}
            </tbody>
        </table>
        <a href=" {% url 'pybo:question_create' %}" class="btn btn-primary" style="position: relative; left:480px; color:  white; background-color: darkgray; border: 1px solid white;">질문등록</a>
    </div>

    <!-- 페이징처리 시작 02-01 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if question_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        
        <!-- 페이지 리스트 -->
        <!-- for 문 사용이유 : 페이지 리스트를 돌아가면서 해당 페이지로 이동하는 링크생성 -->
        {% for page_number in question_list.paginator.page_range  %}
            
            <!-- 페이지 번호가 현재 페이지 기준으로 좌우 5개씩 보이도록 만들기 추가 -->
        {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:4 %}
            <!-- question_list_number 보다 5만큼 크거나 작은 값만 표시되도록 설정 -->
            
            {% if page_number == question_list.number %}
            <!-- 강조 표시 -->
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            <!-- end -->
            {% else %}
                 <li class="page-item">
                    <a class="page-link" href="?page={{page_number}}"> {{page_number}}</a>
                </li>
            {% endif %}
        {% endif %}
        {% endfor %}

        <!-- 다음페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{question_list.next_page_number}}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징 처리 끝 -->
    
{% endblock  %}

</body>
</html>

<!-- 2021-01-21 / 11 : 14  발생된에러 URL 매핑오류-->
<!-- /pybo/1 은 모델 데이터 중 id 값이 1인 것을 조회하도록 해야함 -->
<!-- 2021-01-22 네임스페이스 추가 -->